[Unit]
Description=A jhist server daemon

[Service]
ExecStart=/usr/bin/npm start
WorkingDirectory=/opt/jhistd
User=jhistd

[Install]
WantedBy=network.target
