[Unit]
Description=A jhist server daemon

[Service]
ExecStart=/usr/bin/node --harmony .
WorkingDirectory=/opt/jhistd
User=jhistd

[Install]
WantedBy=network.target
