[Unit]
Description=A jhist server daemon

[Service]
ExecStart=/usr/bin/node --harmony .
WorkingDirectory=/opt/jhistd
EnvironmentFile=/etc/jhistd/jhistd.env
User=jhistd

[Install]
WantedBy=network.target
